<div class="header">
  <div class="wrap">
    <div class="logo">
      <a href="/">
        <img src="../assets/images/logo.png" title="Universidad Nacional del Nordeste" width="200px">
      </a>
    </div>
    <div class="nav-icon">
      <a class="right_bt" id="activator" style="cursor: pointer;"><span> </span> </a>
    </div>

    <app-menu></app-menu>

    <div class="top-searchbar">
      <form>
        <input type="text"><input type="submit" value="">
      </form>
    </div>
    <div class="clear"> </div>
  </div>
</div>
