<div id="main" role="main">

  <ng-masonry-grid
    [masonryOptions] = "{ transitionDuration: '0.8s', gutter: 5 }"
    [useAnimation] = "true"
    [useImagesLoaded] = "true"
    [scrollAnimationOptions] = "{ animationEffect: 'effect-13', minDuration : 0.4,  minDuration : 0.1, maxDuration : 0.1  }"

    (scrolled)="onScrollDown()">

    <ng-masonry-grid-item id="tiles" *ngFor="let img of imagenes;">
      <li>
        <img *ngIf="id_seccion > 0" src="{{ipServer + img.urlImg}}_th.jpg" width="282px" (click)="getVerImagen(img.id)">
        <img *ngIf="id_seccion === 0" src="{{ipServer + img.urlImg}}_th.jpg" width="282px" routerLink="{{img.id}}">
        <div class="post-info">
          <div class="post-basic-info">
            <h3>
              <a *ngIf="id_seccion > 0" (click)="getVerImagen(img.id)">{{img.titulo}}</a>
            </h3>
            <span>
              <a routerLink="{{img.id}}"><label> </label>{{img.categoria}}</a>
            </span>
            <div *ngIf="id_seccion === 0" id="imgSecciones">
              <img  src="../../../assets/images/buffer-128.png" width="20" title="Cantidad de Imagenes en la Seccion"/>
              {{img.cantImg}}
            </div>
            <p *ngIf="id_seccion > 0">{{img.descripcion}}</p>
          </div>
        </div>
      </li>
    </ng-masonry-grid-item>
  </ng-masonry-grid>
</div>
